body {
    background-image:url(/Guvi/assets/images/register.jpg);
    background-size: cover;
}
.container
{
    width: 542px;
    height: 450px;
    margin-left: 521px;
    margin-right: 100px;
    margin-top: 50px;
}
label {
    font-style: italic;
}