body {
    background-image: url(/Guvi/assets/images/signup.jpg);
    background-size: 35cm;
}

table {
    width: 8cm;
    height: 10cm;
    background-color: darkgray;
    border-radius: 0.5cm;
}